.page {
	padding: 0 30rpx;

	.nickName {
		font-size: 30rpx;
		color: #000;
		line-height: 30rpx;
	}

	.content {
		font-size: 26rpx;
		text-align: justify;
		color: gray;
	}

	.age {
		margin-top: 10rpx;
	}

	.head {
		width: 120rpx;
		height: 120rpx;
		border-radius: 10rpx;
		overflow: hidden;
	}

	.icon {
		margin-top: 10rpx;
		width: 220rpx;
		justify-content: space-between;

		.iconfont {
			font-size: 30rpx;
			// background: #000;
			padding-right: 10rpx;
			padding-bottom: 5rpx;
		}
	}

	.between {
		line-height: 36rpx;
	}


	.cop {
		font-size: 22rpx;
	}


	.box {
		margin-left: -6rpx;
	}

	.one {
		position: relative;
		padding-bottom: 40rpx;
	}

	.onedot {
		left: -2rpx;
		width: 24rpx;
		height: 24rpx;
		position: absolute;
		background-color: #53cac3;
		border-radius: 50%;
		display: flex;
		justify-content: center;
		align-items: center;
		z-index: 1;
	}

	.oneline {
		position: absolute;
		left: 8rpx;
		height: 100%;
		border-left: 2px solid #e4e7ed;
	}

	.onemain {
		position: relative;
		padding-left: 56rpx;
		top: -6rpx;
	}

	.onemaintitle {
		margin-bottom: 16rpx;
		padding-top: 8rpx;
		color: #909399;
		line-height: 1;
		font-size: 27rpx;
	}



	.onemaincon {
		color: #303133;
		text-align: justify;
		font-size: 24rpx;
		text-indent: 30rpx;
	}
}